<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.livepost.javiergzzr.livepost">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.livepost.javiergzzr.application.LoadData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.livepost.javiergzzr.activities.SplashScreen"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.livepost.javiergzzr.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.livepost.javiergzzr.activities.NewSession"
            android:label="@string/title_activity_new_session" />
        <activity
            android:name="com.livepost.javiergzzr.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.livepost.javiergzzr.activities.LoginPrompt"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login_prompt"
            android:parentActivityName="com.livepost.javiergzzr.activities.MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.livepost.javiergzzr.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.livepost.javiergzzr.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.livepost.javiergzzr.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.livepost.javiergzzr.activities.MainActivity" />
        </activity>
    </application>

</manifest>
